* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2B2F38;
}


img {
    width: 100%;
    height: 100%;
}

.mobile {
    display: none;
}


.box {
    position: absolute;
    background-color: rgba(249, 47, 47, 0.678);
    animation-name: blink;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    z-index: 10;
    opacity: .7;
    border-radius: 10px;
    cursor: pointer;
}


@keyframes blink {
    from {
        opacity: .7;
        transform: scale(1);
    }

    to {
        opacity: 0.4;
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1024px) {
    img {
        height: 100vh;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}